*{padding:0;margin:0;}
input,
textarea,
button{font-size:14px;outline:none;border:none;font-family:"FSReg";-moz-box-sizing:border-box;box-sizing:border-box;}
body{font-family:"FSReg";color:#000;}
.clear{clear:both;}
.t-c{text-align:center;}
h1{font-size:48px;}
h2{font-size:28px;text-align:left;margin-top:30px;}
h3{font-size:24px;}
a:link{color:#000000;text-decoration:underline;}
a:hover{color:#073863;text-decoration:none;}
@media screen and (max-width:350px) {
   .first img {
        display: none;
    }
}
@font-face{font-family:"FSReg";src:url(firasans-regular.ttf);font-weight:normal;font-style:normal;}
@font-face{font-family:"M300";src:url(museosanscyrl_0.otf);font-weight:normal;font-style:normal;}
@font-face{font-family:"M100";src:url(museosanscyrl.otf);font-weight:normal;font-style:normal;}
@font-face{font-family:"M700";src:url(museosanscyrl_2.otf);font-weight:normal;font-style:normal;}
@font-face{font-family:"RB";src:url(raleway-bold.ttf);font-weight:normal;font-style:normal;}
@font-face{font-family:"FSSemi";src:url(firasans-semibold.ttf);font-weight:normal;font-style:normal;}
@font-face{font-family:"FSLight";src:url(firasans-light.ttf);font-weight:normal;font-style:normal;}
@font-face{font-family:"FSMed";src:url(firasans-medium.ttf);font-weight:normal;font-style:normal;}
@font-face{font-family:"FSIt";src:url(firasans-italic.ttf);font-weight:normal;font-style:normal;}
@font-face{font-family:"FSB";src:url(firasans-bold.ttf);font-weight:normal;font-style:normal;}
#tiz-home{background:url(bg2.jpg);-webkit-background-size:cover;background-size:cover;width:100%;height:600px;transition:all .3s linear;position:relative;}
.bg1, .bg2, .bg3, .bg4, .bg0{background-image:url(bg1.jpg);position:absolute;top:0;left:0;width:100%;height:100%;background-size:cover;pointer-events:none;opacity:0.0;z-index:-1;}
.bg2{background-image:url(bg2.jpg);}
.bg3{background-image:url(bg3.jpg);}
.bg0{background-image:url(tiz-bg.png);opacity:1.0;}
.menu-top{font-family:"FSReg";font-size:16px;background:rgba(32, 32, 32, 0.3);height:50px;width:100%;}
.const-width{width:1170px;margin:0 auto;position:relative;}
.menu{padding-top:16px;float:left;}
.menu ul{list-style:none;margin:0;padding-left:0;margin-top:0;}
.menu ul li{float:left;}
.menu ul li a{text-decoration:none;background:none;border-right:1px solid rgba(255, 255, 255, 0.1);color:#fff;padding:4px 23px 4px 23px;transition:0.3s;}
.menu ul li:last-child a{border:none;}
.menu ul li:first-child a{padding-left:0;}
.menu ul li a:hover{color:#ffe719;}
.spoiler-lang{float:right;display:block;border-right:1px solid rgba(255, 255, 255, 0.1);width:60px;padding-top:4px;color:#0b70db;text-decoration:none;-moz-box-sizing:border-box;box-sizing:border-box;background:url(lang-i.png) 29px 56% no-repeat;margin-top:14px;margin-right:28px;}
.spoiler-lang:hover{background:url(lang-h.png) 29px 56% no-repeat;transition:0.3s;}
.spoiler-lang.active-lang{background:url(lang-a.png) 29px 56% no-repeat;}
.spoiler-block-lang{background:rgba(17, 42, 64, 0.95);font-family:"FSLight";font-size:14px;color:#fff;position:absolute;top:50px;right:45px;width:120px;display:none;border-top:none;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;z-index:15;}
.spoiler-block-lang div{background-repeat:no-repeat;background-position:16px 50%;padding:12px 0 12px 46px;border-bottom:1px solid #163d5e;}
.search{float:right;color:rgba(255, 255, 255, 0.5);background:url(search-i.png) 0 50% no-repeat;font-family:"FSLight";font-size:13px;padding:6px 0 5px 30px;margin-top:12px;}
.logo-top{width:370px;height:90px;float:left;margin-top:80px;}
.logo-top img{width:370px;}
.call1-tiz{font-family:"FSReg";font-size:14px;color:#fff;margin-left:126px;float:left;margin-top:42px;}
.correct-mrg{margin-left:80px;}
.call1-tiz a:link,
.call1-tiz a:active,
.call1-tiz a:visited{text-decoration:none;color:#fff;border-bottom:1px dashed rgba(255, 255, 255, 1.0);line-height:26px;transition:0.3s;}
.call1-tiz a:hover{border-bottom:1px dashed rgba(255, 255, 255, 0.0);}
.call1-tiz span{font-family:"M300";font-size:36px;line-height:18px;}
.call2-tiz-span{line-height:28px;font-family:"FSReg";font-size:14px;}
.title-tiz{font-size:50px;font-family:"RB";color:#fff;width:100%;text-align:center;margin-top:58px;line-height:64px;}
.blocks-top{width:100%;float:left;margin-top:-140px;position:relative;}
.blocks-top div:last-child{margin-right:0;}
.block-top{position:relative;width:268px;height:500px;margin-right:32px;background:#fff;float:left;text-align:center;box-shadow:0 0 1px rgba(0, 0, 0, 0.07) inset, 0 3px 8px rgba(0, 0, 0, 0.08);}
.active-click{box-shadow:none;border-right:1px solid #ededed;margin-right:0;}
.block-top img{margin-top:52px;}
.block-top-title{font-family:"FSSemi";margin-top:46px;font-size:24px;color:#000;height:52px;}
.block-top-cont{font-family:"FSLight";margin-top:26px;font-size:16px;color:#000;line-height:20px;padding:0 40px;height:140px;}
.block-top-but{position:relative;font-family:"FSReg";color:#000;font-size:16px;border:2px solid #175285;border-radius:9999px;padding:11px 26px;display:inline-block;transition:0.2s;bottom:5px;}
.block-top-but:hover{background:#09508f;color:#fff;}
.block-top-but:active{bottom:2px;}
.bg-allsite{background:#f7f7f7;}
.title-block{width:100%;text-align:center;background:url(bg-titles.png) 50% 0 no-repeat;font-family:"RB";color:#000;font-size:36px;padding-top:16px;letter-spacing:1px;text-transform:uppercase;line-height:32px;margin:60px 0;}
.title-block span{color:rgba(0, 0, 0, 0.7);font-size:15px;letter-spacing:0;text-transform:none;font-family:"FSReg";}
.block-resize1,
.block-resize2,
.block-resize3,
.block-resize4{width:0;background:#fff;height:500px;position:absolute;bottom:0;left:0;z-index:2;}
.block-content1,
.block-content2,
.block-content3,
.block-content4{display:none;opacity:0.0;}
.tablmabl{border-collapse:collapse; padding:0px;}
.tablmabl,.tablmabl td,.tablmabl th{border: 1px solid gray;}
.tablmabl td{padding:3px;font-size:14px;}
.overlay{z-index:1;background:rgba(0, 0, 0, 0.5);position:fixed;height:100vh;width:100%;display:none;}
.block-top-close{color:#b5b5b5;font-family:"FSReg";font-size:14px;padding:2px 0 2px 32px;background:url(top-block-close.png) 0 0 no-repeat;position:absolute;top:18px;left:20px;}
.block-content a{text-decoration:none;}
.block-top-inset{float:left;width:800px;}
.block-top-prod{float:left;margin:30px 0 0 32px;text-align:center;height:210px;width:160px;}
.block-top-prod div{color:#000;font-family:"FSReg";font-size:14px;margin-top:8px;}
.tabs-usl{display:none;}
.tabs-usl.actived{display:block;}
ul.tabs-usl-ul{list-style:none;float:left;}
.tabs-usl-ul li{list-style:none;display:block;font-size:18px;font-family:"FSMed";color:#000;width:275px;-moz-box-sizing:border-box;box-sizing:border-box;height:71.5px;padding-left:34px;padding-top:25px;background:none;cursor:pointer;position:relative;}
.tabs-usl-ul li:nth-child(7):after{display:none;}
.tabs-usl-ul li:nth-child(7){height:71px;}
.tabs-usl-ul li:after{position:absolute;bottom:0;left:0;width:250px;height:0px;border-bottom:1px solid #ededed;content:"";z-index:9;}
.tabs-usl-ul li.actived{background:url(block-top-select-usl.png) 0 0 no-repeat;color:#fff;z-index:10;}
.tabs-right{position:absolute;top:0;right:0;width:551px;}
.border-block{float:left;width:1px;background:#ededed;height:500px;margin-left:-26px;}
.block-top-usl-img{width:100%;height:100%;-webkit-background-size:cover;background-size:cover;}
.block-cont-usl{font-family:"FSLight";font-size:14px;color:#000;-moz-box-sizing:border-box;box-sizing:border-box;padding:22px 30px 0 30px;line-height:2.0;text-align:justify;}
.block-cont-usl span{font-family:"FSMed";font-size:16px;}
.block-cont-usl a{color:#175285;font-family:"FSSemi";text-decoration:none;}
.block-top-cons-title{color:#000;font-family:"FSReg";font-size:24px;width:100%;text-align:center;float:left;margin-top:36px;padding-bottom:33px;border-bottom:1px solid #ededed;}
.block-top-cons-title span{font-family:"FSMed";}
.block-top-cons-left{width:280px;height:400px;float:left;border-right:1px solid #ededed;}
.cons-block{color:#000;font-family:"FSReg";font-size:14px;margin:24px 0 18px 20px;padding-left:34px;line-height:2.0;}
.cons-block span{font-family:"FSMed";font-size:18px;line-height:1.6;}
.block-top-cons-right{float:left;}
.block-top-cons-right input{height:50px;width:230px;margin-left:19px;margin-top:19px;border:1px solid #d9d9d9;padding-left:55px;}
.inp-cons-1{background:url(block-top-cons-4.png) 15px 11px no-repeat;}
.inp-cons-2{background:url(block-top-cons-6.png) 15px 14px no-repeat;}
.block-top-cons-right textarea{background:url(block-top-cons-5.png) 12px 13px no-repeat;resize:none;border:1px solid #d9d9d9;margin-left:19px;margin-top:19px;padding-left:55px;padding-top:16px;width:483px;height:228px;line-height:1.6;}
.block-top-cons-right button{background:url(icon-send-white.png) #073863 86% 14px no-repeat;padding:14px 55px 13px 26px;font-family:"FSMed";font-size:16px;color:#fff;float:right;margin-top:19px;}
.block-top-cons-right button:active{margin-top:22px;}
.block-top-cons-right button:hover{background:url(icon-send-white.png) #09508f 86% 14px no-repeat;}
.cons-form-l{background:url(block-top-cons-7.png) 0 0 no-repeat;padding-left:36px;padding-top:4px;padding-bottom:5px;margin-top:28px;margin-left:29px;color:#7f7f7f;float:left;font-size:14px;}
.block-preim{margin-top:-8px;position:relative;width:368px;height:500px;margin-right:32px;background:url(preim-icon.png) 0 50% no-repeat #fff;float:left;text-align:left;box-shadow:0 0 1px rgba(0, 0, 0, 0.07) inset, 0 3px 8px rgba(0, 0, 0, 0.08);-moz-box-sizing:border-box;box-sizing:border-box;padding:112px 50px 10px 60px;}
.block-preim:last-child{margin-right:0;}
.block-preim div{font-family:"M700";font-size:72px;color:#184b76;margin-bottom:14px;}
.block-preim span{font-family:"FSMed";font-size:22px;line-height:1.4;}
.block-preim p{font-family:"FSLight";font-size:16px;line-height:1.9;margin-top:30px;}
.block-geog{background:#fff;width:100%;font-size:16px;box-shadow:0 3px 8px rgba(0, 0, 0, 0.08);border-top:1px solid #cfcfcf;border-bottom:1px solid #cfcfcf;-moz-box-sizing:border-box;box-sizing:border-box;margin-top:50px;}
.block-geog p{margin-top:-25px;line-height:2.0;}
.block-geog img{margin:60px auto;}
.block-about{background:#fff;width:100%;font-size:14px;box-shadow:0 3px 8px rgba(0, 0, 0, 0.08);border:1px solid #e6e6e6;-moz-box-sizing:border-box;box-sizing:border-box;margin-top:70px;padding:0 50px;text-align:center;}
.block-about p{width:544px;line-height:2.0;float:left;margin-top:-16px;text-align:justify;}
.block-about-img{float:right;margin-top:-15px;margin-right:-9px;}
.block-about-spons{margin-top:45px;margin-left:-18px;}
.about-but{margin-top:22px;}
.about-but:active{margin-top:25px;}
.block-footer{background:url(bot-bg.png) 0 0 no-repeat;-webkit-background-size:cover;background-size:cover;width:100%;height:702px;margin-top:70px;text-align:center;padding-top:58px;-moz-box-sizing:border-box;box-sizing:border-box;color:#fff;position:relative;}
.foot-title{font-family:"RB";font-size:36px;text-transform:uppercase;letter-spacing:1.4px;}
.foot-title span{font-family:"FSReg";font-size:20px;color:#ffe719;text-transform:none;letter-spacing:normal;}
.lid-form{margin-top:42px;}
.lid-form span{font-family:"FSMed";font-size:24px;}
.lid-form input{border:2px solid #fff;border-radius:9999px;width:340px;color:#fff;margin-right:16px;font-size:16px;margin-top:30px;}
.inp-lid-1{background:url(lid-icon-user.png) 25px 12px no-repeat;padding:14px 10px 14px 50px;}
.inp-lid-2{background:url(lid-icon-phone.png) 24px 13px no-repeat;padding:14px 10px 14px 58px;}
.lid-form button{background:url(lid-icon-send.png) #fff 82% 14px no-repeat;padding:14px 65px 14px 36px;font-family:"FSMed";font-size:16px;color:#135da1;border:2px solid #fff;border-radius:9999px;cursor:pointer;}
.lid-form button:active{margin-bottom:-22px;}
.foot-fact{font-size:0;margin-top:62px;display:inline-block;}
.fact-block{position:relative;-moz-box-sizing:border-box;box-sizing:border-box;width:122px;height:122px;border-radius:50%;border:2px solid rgba(255, 255, 255, 0.24);float:left;}
.fact-line{width:212px;height:2px;background:rgba(255, 255, 255, 0.24);float:left;margin-top:61px;}
.fact-min{width:192px;}
.fact-minmin{width:172px;}
.sub-fact{position:absolute;font-size:16px;bottom:-110px;left:50%;width:250px;margin-left:-125px;line-height:1.6;}
.sub-fact span{font-family:"FSMed";font-size:22px;}
.sub-fact a{text-decoration:none;border-bottom:1px solid #ffe719;color:#ffe719;font-size:14px;}
.sub-fact a:hover{border-bottom:none;}
.modlink a{text-decoration:none;border-bottom:1px dashed #ffe719;color:#ffe719;font-size:14px;}
.modlink a:hover{border-bottom:none;}
.foot-info{font-family:"FSReg";font-size:14px;background:rgba(0, 0, 0, 0.5);height:50px;width:100%;-moz-box-sizing:border-box;box-sizing:border-box;color:#fff;padding-top:17px;position:absolute;bottom:0;text-align:left;}
.foot-info div{display:inline-block;position:absolute;}
.foot-info div:last-child{right:0;}
.foot-info div:nth-child(2){left:50%;margin-left:-100px;width:200px;text-align:center;}
.foot-info div:first-child{left:0;}
.global-tiz{background:url(global-bg-top.png) 0 0 no-repeat;-webkit-background-size:cover;background-size:cover;width:100%;height:232px;}
.global-logo-top{width:370px;height:90px;float:left;margin-top:55px;}
.global-logo-top img{width:300px}
.global-cor1{margin-top:48px;margin-left:130px;}
.global-cor2{margin-left:80px;}
.global-title-block{width:100%;text-align:center;font-family:"RB";color:#000;font-size:50px;padding-top:16px;line-height:32px;margin:44px 0;}
.global-title-block span{color:rgba(0, 0, 0, 0.7);font-size:15px;letter-spacing:0;text-transform:none;font-family:"FSReg";}
.global-correct img{box-shadow:0 0 7px rgba(0, 0, 0, 0.09);border:none;}
.global-subtitle{font-family:"RB";font-size:36px;margin:67px 0 34px 0;}
.global-footer{background:url(global-foot-bg.png) 0 0 no-repeat;-webkit-background-size:cover;background-size:cover;width:100%;height:120px;margin-top:70px;text-align:center;padding-top:40px;-moz-box-sizing:border-box;box-sizing:border-box;color:#fff;position:relative;}
.logo-left{float:left;}
.logo-left img{float:left;}
.logo-left div{float:left;color:#76beff;font-size:14px;margin-top:5px;margin-left:21px;text-align:left;line-height:17px;}
.soc-foot{float:right;}
.soc-icons{width:44px;height:44px;border-radius:50%;border:1px solid rgba(118, 190, 255, 0.33);float:right;-moz-box-sizing:border-box;box-sizing:border-box;margin-left:21px;transition:0.3s;}
.soc-icons:hover{border:1px solid #fff;}
.about-correct{font-size:0;text-align:center;}
.about-info{font-size:16px;line-height:2.0;text-align:justify;margin:15px 0;}
.about-block-count{font-size:16px;text-align:center;display:inline-block;width:200px;-moz-box-sizing:border-box;box-sizing:border-box;border-bottom:2px solid #175285;padding-bottom:19px;margin-right:40px;}
.about-block div:last-child{margin-right:0;}
.about-block-count span{font-family:"M100";font-size:90px;color:#175285;}
.about-prod-img{margin-top:68px;}
.about-prod-img img{margin-right:30px;width:270px;}
.about-prod-img img:last-child{margin-right:0;}
.about-info2{font-size:16px;line-height:2.0;text-align:justify;margin:15px 0 38px 0;}
.about-spons{margin-top:19px;margin-left:-18px;}
.prods-info{font-size:16px;line-height:2.0;text-align:justify;margin:0 0 30px 0;margin-top:-18px;}
.prods-block{display:inline-block;width:370px;text-align:center;margin-right:30px;margin-top:20px;}
.prods-cont .prods-block:nth-child(3n){margin-right:0;}
.prods-img{width:370px;height:240px;-webkit-background-size:cover;background-size:cover;}
.prods-title{font-family:"FSMed";font-size:20px;margin-top:18px;margin-bottom:13px;}
.prods-block-h{background:url(prods-hv.png) 50% 50% no-repeat;-webkit-background-size:cover;background-size:cover;width:100%;height:100%;opacity:0.0;transition:0.3s;box-shadow:0 3px 8px rgba(0, 0, 0, 0.08);-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;color:#fff;font-size:28px;font-family:"FSMed";line-height:1.4;padding-top:84px;}
.prods-block-h span{font-family:"FSIt";color:#ffe719;font-size:16px;}
.prods-img a{text-decoration:none;}
.prods-block-h:hover{opacity:1.0;}
.prods-lid{background:url(global-bg-lid-1.png) 50% 50% no-repeat;-webkit-background-size:cover;background-size:cover;height:240px;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;padding-top:35px;margin-top:60px;}
.prods-lid-title{color:#fff;font-family:"RB";font-size:30px;line-height:43px;}
.prods-lid-title span{font-family:"FSReg";font-size:18px;color:#ffe719;}
.prods-correct{margin-top:-14px;}
.prods-correct button{margin-left:12px;background-position:85% 14px;}
.prods-correct input{width:280px;margin-right:24px;}
.conts-block{font-size:14px;display:inline-block;width:374px;height:130px;-moz-box-sizing:border-box;box-sizing:border-box;border-right:1px solid #e5e5e5;text-align:left;padding:10px 0 20px 65px;margin-top:-22px;line-height:1.5;}
.conts-block div{padding:5px 0 5px 27px;}
.conts-block span{font-family:"M700";font-size:30px;}
.conts-block a{color:#19568c;border-bottom:1px solid #19568c;text-decoration:none;}
.conts-block a:hover{border-bottom:none;}
.conts-correct{border-right:none;padding-left:90px;}
.conts-correct-1{padding-left:0;}
.conts-map{margin-top:42px;}
.izd-block-l{float:left;text-align:left;width:280px;margin-top:-32px;}
.izd-subtitle{font-family:"FSMed";font-size:22px;margin-bottom:18px;}
.izd-menu{font-size:14px;border-left:3px solid #175285;}
.izd-menu ul{list-style:none;}
.izd-menu ul li a{text-decoration:none;padding:11px 0 10px 17px;display:block;width:100%;color:#000;}
.izd-menu ul li a:hover{color:#175285;}
.act-menu a{background:url(izd-menu-h.png) 0 0 no-repeat;font-family:"FSMed";}
.izd-corr1{margin-top:74px;}
.izd-doc{background:url(izd-doc.png) 0 4px no-repeat;padding:0 20px 0 28px;font-size:14px;margin-bottom:28px;margin-top:19px;}
.izd-doc a{text-decoration:none;color:#000;border-bottom:1px solid #e5e5e5;line-height:1.4;}
.izd-doc a:hover{border-bottom:none;}
.izd-cont-slider{float:left;position:relative;width:868px;margin:12px 0 0 22px;box-shadow:0 2px 5px rgba(0, 0, 0, 0.07);}
.izd-corr2 .item{height:380px;}
.izd-left{float:left;position:relative;font-size:16px;}
.izd-cont{background:#fff;width:868px;font-size:16px;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid #d6d6d6;box-shadow:0 2px 5px rgba(0, 0, 0, 0.07);margin:50px 0 0 22px;}
.tabs-izd{display:none;-moz-box-sizing:border-box;box-sizing:border-box;padding:25px 29px;text-align:justify;line-height:30px;}
.tabs-izd span{font-family:"FSMed";font-size:18px;}
.tabs-izd.actived{display:block;}
ul.tabs-izd-ul{list-style:none;margin-top:-1px;}
.tabs-izd-ul li{float:left;list-style:none;display:block;font-size:18px;font-family:"FSReg";color:#000;width:50%;-moz-box-sizing:border-box;box-sizing:border-box;height:58px;text-align:center;padding-top:18px;background:#f7f7f7;cursor:pointer;position:relative;border:1px solid #d6d6d6;}
.tabs-izd-ul li img{margin-bottom:-7px;margin-right:10px;}
.tabs-izd-ul li.actived{border:1px solid #efefef;border-top:3px solid #175285;padding-top:16px;background:#fff;}
.tabs-izd-ul li:nth-child(1),
.tabs-izd-ul li.actived:nth-child(2){border-left:none;}
.tabs-izd-ul li:nth-child(2),
.tabs-izd-ul li.actived:nth-child(1){border-right:none;}
.tabs-izd-ul li.actived:nth-child(2){padding-left:1px;}
.tabs-izd-ul li.actived:nth-child(1){padding-right:1px;}
.izd-lid{background:url(global-bg-lid-2.png) 50% 50% no-repeat;-webkit-background-size:cover;background-size:cover;height:306px;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;padding-top:42px;margin-top:44px;margin-left:22px;}
.izd-lid-title{color:#fff;font-family:"RB";font-size:30px;line-height:36px;}
.izd-lid-title span{font-family:"FSReg";font-size:18px;color:#ffe719;}
.izd-lid-title span span{font-family:"FSB";}
.izd-correct{margin-top:-14px;color:#fff;}
.izd-correct button{margin-left:0px;background-position:85% 14px;}
.izd-correct input{width:260px;margin-right:14px;}
.make-tabs{padding:0px;margin:0 auto;position:relative;margin-top:60px;}
.about-correct section{display:none;padding:15px;background:#fff;border:1px solid #d6d6d6;border-top:4px solid #073863;font-size:16px;margin-top:132px;box-shadow:0 2px 5px rgba(0, 0, 0, 0.07);text-align:center;position:relative;-moz-box-sizing:border-box;box-sizing:border-box;padding:35px 48px;}
.about-correct section span{font-family:"FSMed";font-size:28px;}
.about-correct section p{line-height:2.0;text-align:justify;margin:15px 0;}
.about-correct section img{}
.make-tabs input{display:none;}
.make-tabs label{display:block;width:180px;height:180px;border-radius:50%;position:relative;top:0;left:0;}
.make-tabs label:hover{color:#888;cursor:pointer;}
.make-tabs input:checked + .make-lbl-img label{color:#555;background:url(photo/pages/make/hover.png) 50% 50% no-repeat;}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4{display:block;}
.make-lbl-img:nth-of-type(4){margin-right:0;}
.make-lbl-img:nth-of-type(1){margin-left:40px;}
.make-line{background:#e5e5e5;float:left;width:125px;height:2px;margin-top:91px;}
.make-lbl-img{float:left;width:180px;height:180px;border-radius:50%;box-shadow:0 1px 10px rgba(0, 0, 0, 0.11);position:relative;}
.make-lbl-img:after{display:block;position:absolute;width:180px;height:180px;border-radius:50%;background:#175285;content:"";opacity:0.0;top:0;left:0;transition:0.3s;cursor:pointer;pointer-events:none;}
.make-lbl-img:hover:after{opacity:0.3;}
.make-lbl-img div{width:250px;position:absolute;font-size:18px;left:50%;margin-left:-125px;bottom:-84px;line-height:1.4;}
.arr-l{left:48px;background:url(make-l.png) 0 50% no-repeat;padding:10px 0 10px 40px;}
.arr-r{right:48px;background:url(make-r.png) 100% 50% no-repeat;padding:10px 40px 10px 0;}
.make-arr{position:absolute;top:35px;color:rgba(0, 0, 0, 0.6);font-family:"FSLight";font-size:13px;text-decoration:none;}
.make-arr:hover,
.make-arr:active{text-decoration:none;cursor:pointer;}
.usl-p{font-size:16px;line-height:2.0;text-align:justify;margin-top:-18px;margin-bottom:50px;}
.usl-block{font-size:20px;text-align:center;width:570px;height:330px;float:left;margin-right:30px;margin-bottom:37px;}
.usl-block:nth-child(2n){margin-right:0;}
.usl-img{margin-bottom:21px;width:100%;height:280px;}
.usl-img div{background:url(usl-img-h.png) 50% 50% no-repeat;-webkit-background-size:cover;background-size:cover;width:100%;height:100%;opacity:0.0;transition:0.3s;box-shadow:0 3px 8px rgba(0, 0, 0, 0.08);-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;color:#fff;font-size:28px;font-family:"FSMed";line-height:1.4;padding-top:100px;}
.usl-img div:hover{opacity:1.0;}
.usl-img a{text-decoration:none;}
.usl-img div span{font-family:"FSIt";color:#ffe719;font-size:16px;}
.usl-lid{background:url(global-bg-lid-3.png) 50% 50% no-repeat;-webkit-background-size:cover;background-size:cover;height:284px;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;padding-top:42px;margin-top:19px;}
.usl-lid-title{color:#fff;font-family:"RB";font-size:30px;line-height:36px;}
.usl-lid-title span{font-family:"FSReg";font-size:18px;color:#ffe719;}
.usl-lid-title span span{font-family:"FSB";}
.usl-correct{margin-top:-16px;color:#fff;}
.usl-correct button{margin-top:18px;margin-left:0px;background-position:85% 14px;}
.usl-correct input{margin-top:18px;width:310px;margin-right:30px;}
.arcticmodal-overlay,
.arcticmodal-container{position:fixed;left:0;top:0;right:0;bottom:0;z-index:1000;}
.arcticmodal-container{overflow:auto;margin:0;padding:0;border:0;border-collapse:collapse;}
*:first-child+html .arcticmodal-container{height:100%}
.arcticmodal-container_i{height:100%;margin:0 auto;}
.arcticmodal-container_i2{padding:24px;margin:0;border:0;vertical-align:middle;}
.box-modal{-moz-box-sizing:border-box;box-sizing:border-box;position:relative;width:800px;padding:0;background:#fff;color:#000;font-size:14px;}
.box-modal_close{background:url(close-modal.png) 0 50% no-repeat;padding:5px 0 5px 30px;position:absolute;right:-102px;top:10px;font-size:13px;line-height:15px;color:#8a8a8a;cursor:pointer;transition:0.3s;}
.box-modal_close:hover{color:#b9b9b9;}
.usl-cont-slider{float:left;position:relative;width:800px;margin:0;}
.usl-corr2 .item{height:260px;}
.modal-title-block{width:100%;text-align:center;font-family:"RB";color:#000;font-size:36px;padding-top:16px;line-height:32px;margin:34px 0;}
.modal-title-block span{color:rgba(0, 0, 0, 0.7);font-size:15px;letter-spacing:0;text-transform:none;font-family:"FSReg";}
.mod-p{font-size:16px;line-height:2.0;text-align:justify;margin:0 50px;margin-bottom:50px;}
.mod-correct{margin-top:-16px;color:#fff;}
.mod-correct button{margin-top:22px;margin-left:0;margin-bottom:0;background-position:50% 14px;padding:27px 36px 21px 35px;position:relative;bottom:1px;}
.mod-correct input{margin-top:22px;width:284px;margin-right:30px;}
.guid-p{font-size:16px;line-height:2.0;text-align:justify;margin-top:-6px;margin-bottom:50px;}
.guid-tab{padding-top:6px;margin-bottom:20px;position:relative;overflow:hidden;background:#fff;width:100%;margin:0 auto;line-height:1.5;font-size:16px;}
.tabs{float:left;display:block;position:relative;overflow:hidden;margin:0;border-left:3px solid #175285;}
.tabs li{overflow:hidden;padding:0;position:relative;font-size:18px;}
.tabs a{color:#000;display:block;padding:6px 30px 7px 15px;text-decoration:none;transition:background 0.8s;}
.current a{color:#fff;background:url(guid-tabs-a.png) 0 0 no-repeat;}
.tab_content{float:right;width:1048px;text-align:left;}
.guid-h1{text-align:left;border-bottom:1px solid #e8e8e8;padding-bottom:2px;margin-bottom:20px;margin-top:50px;}
.guid-h1:first-child{margin-top:0;}
.guid-word{font-family:"RB";font-size:60px;color:#175285;float:left;line-height:normal;margin-top:-14px;}
.guid-count{font-family:"FSReg";font-size:14px;color:#737373;float:right;margin-top:28px;}
.guid-count span{color:#175285;font-family:"FSB";}
.guid-content{font-size:16px;}
.spoiler-trigger{display:block;border:1px solid #d6d6d6;width:100%;padding-top:12px;color:#0b70db;text-decoration:none;-moz-box-sizing:border-box;box-sizing:border-box;background:#fcfcfc;height:50px;margin-top:9px;}
a.spoiler-trigger{color:#000;text-decoration:none;}
.spoiler-trigger div{background:url(guide-plus.png) #fff no-repeat 50% 50%;height:48px;width:48px;float:right;border-left:1px solid #d6d6d6;margin-top:-12px;}
a.spoiler-trigger.active,
.spoiler-trigger:hover>span{color:#175285;}
.spoiler-trigger.active div{background:url(guide-minus.png) #fff no-repeat 50% 50%;}
.spoiler-trigger.active{background:#fff;}
.spoiler-trigger>span{padding:10px 5px 0 20px;}
.spoiler-block{display:none;border:1px solid #d6d6d6;border-top:none;-moz-box-sizing:border-box;box-sizing:border-box;padding:20px;line-height:2.0;}
.home-corr{line-height:28px;padding-top:38px;margin-bottom:22px;}
.mod-home-1{padding:0 50px 30px 50px;-moz-box-sizing:border-box;box-sizing:border-box;}
.mod-home-1 input{height:50px;width:340px;margin-right:16px;margin-bottom:20px;border:1px solid #d9d9d9;padding-left:55px;-moz-box-sizing:border-box;box-sizing:border-box;}
.mod-home-1 textarea{background:url(block-top-cons-5.png) 16px 15px no-repeat;resize:none;border:1px solid #d9d9d9;padding-left:55px;padding-top:16px;width:100%;height:228px;-moz-box-sizing:border-box;box-sizing:border-box;line-height:1.6;}
.mod-home-1 button{background:url(icon-send-white.png) #073863 88% 14px no-repeat;padding:14px 58px 13px 26px;font-family:"FSMed";font-size:16px;color:#fff;float:right;margin-top:19px;position:relative;}
.mod-home-1 button:active{bottom:-3px;}
.mod-home-1 button:hover{background:url(icon-send-white.png) #09508f 88% 14px no-repeat;cursor:pointer;}
.cons-homef-l{background:url(block-top-cons-7.png) 0 0 no-repeat;padding-left:36px;padding-top:2px;padding-bottom:5px;margin-top:31px;margin-left:0;color:#7f7f7f;float:left;font-size:14px;}
.modal-width{width:1046px;}
.active-folio{width:100%;height:100%;background:url(hover-folio.png) 50% 50% no-repeat;-webkit-background-size:cover;background-size:cover;opacity:0.0;transition:0.3s;text-align:center;color:#fff;-moz-box-sizing:border-box;box-sizing:border-box;padding:64px 30px 10px 30px;}
.name-folio{font-family:"FSMed";font-size:30px;margin-top:106px;line-height:1.3;}
.bord-folio{width:160px;background:#fff;height:2px;margin:33px auto;}
.text-folio{font-family:"FSReg";font-size:14px;line-height:2.0;margin-top:36px;display:none;}
.block-folio-but{position:relative;font-family:"FSReg";color:#fff;font-size:16px;border:2px solid #fff;border-radius:9999px;padding:11px 30px;display:inline-block;margin-top:180px;transition:0.2s;bottom:0;}
.block-folio-but:hover{background:#fff;color:#0d437a;}
.block-folio-but:active{bottom:-3px;}
.title-folio{display:inline-block;background:url(portfol-info.png) 0 0 no-repeat;padding:6px 0 12px 42px;font-family:"FSIt";font-size:16px;}
.filter-folio{background:#fff;box-shadow:0 0 7px rgba(0, 0, 0, 0.09);border:1px solid #d6d6d6;-moz-box-sizing:border-box;box-sizing:border-box;padding:27px 38px;padding-right:10px;padding-bottom:20px;margin-top:-34px;margin-bottom:25px;}
.title-filter{font-family:"FSB";font-size:24px;float:left;color:#175285;line-height:1.4;margin-right:6px;width:220px}
.check-filter{float:left;margin-left:50px;margin-top:0;position:relative;}
.check-filter div{position:relative;margin-bottom:4px;margin-right:30px;}
.check-filter input[type=radio]{display:none;}
.check-filter label:before{display:block;border-radius:50%;background:#e4e4e4;width:8px;height:8px;content:"";position:absolute;top:6px;left:-18px;}
.check-filter label{font-size:14px;cursor:pointer;}
.check-filter input[type=radio]:checked + label{color:#175285;}
.check-filter input[type=radio]:checked + label:before{font-size:15px;color:#f3f3f3;text-align:center;line-height:15px;background:url(filter-act.png);width:16px;height:16px;top:2px;left:-22px;}
.homecor{bottom:40px;margin-top:40px;}
.homecor:active{bottom:37px;margin-top:40px;}
input.inp-lid-2::-webkit-input-placeholder{opacity:1.0;color:#fff}
input.inp-lid-1::-webkit-input-placeholder{opacity:1.0;color:#fff}
input.form-control::-webkit-input-placeholder{opacity:1.0;color:#fff}
::-moz-placeholder{opacity:1.0}
:-moz-placeholder{opacity:1.0}
:-ms-input-placeholder{opacity:1.0}
#foto_index{transition:all 3s ease;-webkit-transition:all 3s ease;-moz-transition:all 3s ease;-o-transition:all 3s ease;}
.slick-slide a{text-decoration:none;color:#000;transition:0.2s;}
.slick-slide{position:relative;}
.tooltip::after{background:#175285;border-radius:9999px;color:#FFF;font-family:"FSReg";font-size:12px;content:attr(data-tooltip);margin-top:0;opacity:0;padding:2px 12px;position:absolute;bottom:-10px;left:74px;visibility:hidden;transition:all 0.3s ease-in-out;}
.tooltip:hover::after{opacity:1;visibility:visible;}
.search{float:right;color:rgba(255, 255, 255, 0.5);background:url(search-i.png) 0 50% no-repeat;font-family:"FSLight";font-size:13px;padding:6px 0 5px 30px;margin-top:12px;cursor:pointer;transition:0.1s;}
.search:hover{color:#fff;background:url(search-h.png) 0 50% no-repeat;}
.block-search{width:0;background:#183b5a;height:50px;position:absolute;top:-50px;right:0;z-index:2;}
.block-search-cont{display:none;height:100%;width:100%;}
img.search-close{position:absolute;z-index:100;margin-top:17px;margin-right:20px;}
a.link-search{color:#fff;text-decoration:none;}
.per-search{background:url(search-per.png) 100% 30% no-repeat;color:rgba(255,255,255,0.0);font-family:"FSReg";font-size:13px;padding-right:20px;padding-bottom:5px;padding-top:0;float:right;margin-right:-8px;opacity:0.15;transition:0.3s;}
.mi-si:hover .per-search{color:rgba(255,255,255,1.0);opacity:1.0;}
.foot-modal-hr{width:70%;height:1px;background:#F1F1F1;margin:30px auto;margin-top:22px;}
.foot-m-corr span{color:#000;font-family:"RB";color:#000;font-size:30px;}
.foot-m-corr{text-align:center;padding:30px;padding-top:0;width:540px;font-size:18px;}
.foot-m-corr2{margin-top:34px;bottom:10px;}
.foot-m-corr2:active{margin-top:34px;bottom:7px;}
.about-info2 span{font-family:"FSMed";}
.tabs-izd p{margin:10px 0;}
.tabs-izd img{margin:10px 0;max-width:50%;max-height:800px;}
.tabs-izd table tbody tr td img{margin:10px 0;max-width:100%;max-height:800px;}
.tabs-izd ul li, .tabs-izd ol li{margin-left:15px;}
.tabs-izd table{border:1px solid #e3e3e3;margin:10px 0;}
.tabs-izd table td{border:1px solid #e3e3e3;padding:8px;}
.ph-corr{background:url(block-ph.png) 15px 14px no-repeat;}
.block-top-prod img{transition:0.3s;}
.block-top-prod img:hover{cursor:pointer;opacity:0.8;}
.map-bg{position:relative;}
.map-tip{position:absolute;border-bottom:2px solid #FFE400;color:rgba(255,255,255,0.0);opacity:0.0;transition:0.3s;cursor:pointer;height:20px;}
.map-tip:hover{opacity:1.0;}
.tippi{background:rgba(0,0,0,0.8);width:448px;color:#fff;position:absolute;bottom:0;left:-50px;transition:0.3s;-moz-box-sizing:border-box;box-sizing:border-box;padding:20px;visibility:hidden;opacity:0;}
.map-tip:hover .tippi{transition:0.3s;visibility:visible;opacity:1;bottom:34px;}
.tippi:before{position:absolute;left:74px;bottom:-12px;width:0px;height:0px;border-left:12px solid transparent;border-right:12px solid transparent;border-top:12px solid rgba(0,0,0,0.8);;content:"";}
.tippi-r{right:-50px;left:auto;}
.tippi.tippi-r:before{position:absolute;left:auto;right:74px;bottom:-12px;width:0px;height:0px;border-left:12px solid transparent;border-right:12px solid transparent;border-top:12px solid rgba(0,0,0,0.8);;content:"";}
.tippi-img{width:108px;height:108px;float:left;border-radius:50%;margin:11px 0 8px 15px;background-size:cover;background-position:50% 50%;background-repeat:no-repeat;}
.tippi-text{float:right;width:260px;margin-top:6px;line-height:1.8;font-size:14px;}
.tippi-text span{font-family:"FSB";font-size:18px;}
.map-hov1{top:410px;left:246px;width:111px;}
.map-hov2{top:284px;left:179px;width:120px;}
.map-hov3{top:333px;left:116px;width:57px;}
.map-hov4{top:380px;left:108px;width:68px;}
.map-hov5{top:402px;left:105px;width:120px;}
.map-hov6{top:453px;left:35px;width:38px;}
.map-hov7{top:430px;left:153px;width:55px;}
.map-hov8{top:458px;left:381px;width:60px;}
.map-hov9{top:423px;left:445px;width:48px;}
.map-hov10{top:368px;left:513px;width:117px;}
.map-hov11{top:399px;left:710px;width:47px;}
.map-hov12{top:583px;left:582px;width:60px;}
.map-hov13{top:598px;left:733px;width:60px;}
.map-hov14{top:330px;left:933px;width:56px;}
.map-hov15{top:564px;left:917px;width:72px;}
.map-hov16{top:679px;left:1011px;width:92px;}
.map-hov17{top:603px;left:1053px;width:121px;}
.map-hov18{top:395px;left:1001px;width:112px;}
.map-hov18:after{position:absolute;border-bottom:2px solid #FFE400;color:rgba(255,255,255,0.0);cursor:pointer;content:"";top:40px;width:81px;}
.block-top img{width:115px;}
.m-corr2{width:1112px;}
@media screen and (min-width:1200px) and (max-width:1366px){.title-tiz{font-family:"FSReg";margin-top:50px;font-size:40px}
}

@media screen and (min-width:0) and (max-width:1170px){	
.const-width{
width:960px;
}
	
.menu ul li a{
padding:4px 18px 4px 18px
}
	
.logo-top img,.logo-top{font-size:30px;width:308px;}
	
.correct-img{margin-left:50px;}{}
.call1-tiz{margin-left: 86px;}
.call1-tiz span{font-size:30px;}
.title-tiz{margin-top: 50px;font-size:40px;}
.block-top{width:217px;height:400px;margin-right:30px;}
.block-top-cont{font-size:14px;padding: 0 20px;height:106px;margin-top:15px;line-height:20px;}
.block-top-title{font-size:22px;margin-top:36px;height:52px;}
.block-top img{width:90px;margin-top:40px}
.title-filter{width:100%;float:none;text-align:center;margin-bottom:20px}
.check-filter div{margin-bottom:15px;}
.block-preim{width:300px;height:406px;margin-right:26px;padding: 80px 12px 10px 52px;}
.block-preim span{font-size:18px;}
.map-bg img{width:100%;}
.map-bg{text-align:center;}
.map-tip {display:none;}
.block-about-img{width:400px;}
.block-about p{width:400px;}
.block-about-spons{width:100%;}
.fact-line, .fact-min, .fact-minmin{width:120px;}
.sub-fact{font-size:12px;bottom:-100px;}
.sub-fact span{font-size:16px;}
.global-logo-top{width:300px;}
.m-corr1{width:100%;}
.about-block-count{width:164px;font-size:14px;margin-right: 35px;}
.about-block-count span{font-size:74px;}
.about-prod-img{overflow-x:scroll;white-space:nowrap;}
.m-corr2{width:100%;}
.prods-img{width:304px;height:196px;}
.prods-block{width:304px;margin-right: 24px;}
.prods-title{font-size:16px;}
.usl-block{height:266px;width:464px;font-size:18px;}
.usl-img{height:230px;}
.make-lbl-img::after,.make-lbl-img,.make-tabs label{width:156px;height:156px;}
.make-line{width: 90px;}
.make-lbl-img div{font-size:16px;width:200px;margin-left:-100px;}
.about-correct section img{ height: 100%;
    width: auto;
    max-width: 30%;}
.tab_content{width:846px;}
.conts-block{width: 320px;padding-left:45px;}
.conts-block span{font-size:26px;}
.conts-correct{padding-left:45px;}
.prods-block-h{font-size: 24px;padding-top: 68px;}
.izd-cont-slider, .izd-cont{width:658px;}
.izd-lid{display:none;}
}



@media screen and (min-width:0) and (max-width:960px){	
.const-width{
width:960px;
}
	
.menu ul li a{
padding:4px 18px 4px 18px
}
	
.logo-top img,.logo-top{width:308px;}
	
.correct-img{margin-left:50px;}{}
.call1-tiz{margin-left: 86px;}
.call1-tiz span{font-size:30px;}
.title-tiz{margin-top: 50px;font-size:40px;}
.block-top{width:300px;height:400px;margin-right:30px;}
.block-top-cont{font-size:14px;padding: 0 20px;height:106px;margin-top:15px}
.block-top-title{font-size:22px;margin-top:36px;}
.block-top img{width:90px;margin-top:40px}
.title-filter{width:100%;float:none;text-align:center;margin-bottom:20px}
.check-filter div{margin-bottom:15px;}
.block-preim{width:300px;height:406px;margin-right:26px;padding: 80px 12px 10px 52px;}
.block-preim span{font-size:18px;}
.map-bg img{width:100%;}
.map-bg{text-align:center;}
.map-tip {display:none;}
.block-about-img{width:400px;}
.block-about p{width:400px;}
.block-about-spons{width:100%;}
.fact-line, .fact-min, .fact-minmin{width:120px;}
.sub-fact{font-size:12px;bottom:-100px;}
.sub-fact span{font-size:16px;}
.global-logo-top{width:300px;}
.m-corr1{width:100%;}
.about-block-count{width:164px;font-size:14px;margin-right: 35px;}
.about-block-count span{font-size:74px;}
.about-prod-img{overflow-x:scroll;white-space:nowrap;}
.m-corr2{width:100%;}
.prods-img{width:304px;height:196px;}
.prods-block{width:304px;margin-right: 24px;}
.prods-title{font-size:16px;}
.usl-block{height:266px;width:464px;font-size:18px;}
.usl-img{height:230px;}
.make-lbl-img::after,.make-lbl-img,.make-tabs label{width:156px;height:156px;}
.make-line{width: 90px;}
.make-lbl-img div{font-size:16px;width:200px;margin-left:-100px;}
.about-correct section img{ height: 100%;
    width: auto;
    max-width: 30%;}
.tab_content{width:846px;}
.conts-block{width: 320px;padding-left:45px;}
.conts-block span{font-size:26px;}
.conts-correct{padding-left:45px;}
.prods-block-h{font-size: 24px;padding-top: 68px;}
.izd-cont-slider, .izd-cont{width:658px;}
.izd-lid{display:none;}
}
